<div class="page-header">
  <h1><%= @form.name %></h1>
</div>

<p><%= link_to 'Subjects', report_cards_form_subjects_path(@form) %></p>
<p><%= link_to 'Comments', report_cards_form_comments_path(@form) %></p>
<p><%= link_to 'Options',  report_cards_form_options_path(@form) %></p>
