
<% if current_employee %>

  <% if @dash.show_adoption? %>
    <%= render 'adoption' %>
  <% end %>

  <% if @dash.show_student_search? %>
    <%= render 'student_search' %>
  <% else %>
    <p>Sorry, nothing for you to do here.</p>
  <% end %>

<% else %>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">No associated employee record</h3>
  </div>
  <div class="panel-body">
    Oops, your setup isn't quite finished yet. Call x5400 for help.
  </div>

</div>

<% end %>
