<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Message</h3>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
  </div>
  <div class="panel-footer">
    <%= Time.now.to_s %>
  </div>
</div>
