
<% if current_employee %>

<div class="row">
  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Adoption</h3>
      </div>
      <table class="table">
        <tr>
          <th>Users</th>
          <th>Teachers</th>
        </tr>
        <tr>
          <td><%= @dash.user_count %></td>
          <td><%= @dash.teacher_count %></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Report Cards</h3>
      </div>
      <table class="table">
        <tr>
          <th>Period</th>
          <th>Year</th>
        </tr>
        <tr>
          <td><%= @dash.rc_period_count %></td>
          <td><%= @dash.rc_year_count %></td>
        </tr>
      </table>
    </div>

  </div>
</div>

<% else %>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">No associated employee record</h3>
  </div>
  <div class="panel-body">
    Oops, your setup isn't quite finished yet. Call x5400 for help.
  </div>

</div>

<% end %>
