<div class="page-header">
  <h1>Org Units</h1>
</div>

<p><%= link_to "New", new_gapps_org_unit_path, class: "btn btn-primary" %></p>


<ul class="org_unit-roots">
  <% @org_units.each do |org_unit| %>
  <li class="org_unit-root"><%= render partial: "org_node", locals: {org_unit: org_unit} %></li>
  <% end %>
</ul>
