<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">Effort</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><strong>O</strong> Oustanding</li>
    <li class="list-group-item"><strong>G</strong> Good</li>
    <li class="list-group-item"><strong>S</strong> Satisfactory</li>
    <li class="list-group-item"><strong>N</strong> Needs Improvement</li>
    <li class="list-group-item"><strong>U</strong> Unsatisfactory</li>
  </ul>
</div>
