<div class="page-header">
  <h2><%= @classroom.name %></h2>
</div>

<div class="row">
  <% @students.in_groups(3, false) do |grp| %>
    <div class="col-md-4">
      <div class="list-group">
        <% grp.each do |student| %>
        <%= link_to student.name, student, class: 'list-group-item' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
