<div class="modal fade" id="legend" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="legend_title">Report Card Legend</h4>
      </div>
      <div class="modal-body">
        <h3>Positional (checkbox) Scores</h3>
        <ul>
          <li><strong>R</strong>equires additional support</li>
          <li><strong>W</strong>orks within grade-level standards</li>
          <li><strong>D</strong>emonstrates strenghts</li>
        </ul>

        <h3>Effort</h3>
        <ul>
          <li>Outstanding</li>
          <li>Good</li>
          <li>Satisfactory</li>
          <li>Needs Improvement</li>
          <li>Unsatisfactory</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
