<section class="card_legend">
  <div id="card_legend-toggle">
    <%= link_to 'Legend', '#card_legend-collapsible',
        class: 'btn btn-default btn-sm', data: {toggle: 'collapse'} %>
  </div>

  <% present(@report_card, ReportCard::LegendPresenter) do |legend| %>
    <div class="collapse" id="card_legend-collapsible">
      <div class="row">
        <div class="col-sm-6">
          <%= legend.score_scale %>
        </div>
        <div class="col-sm-6">
          <%= legend.effort_scale %>
        </div>
      </div>
    </div>
  <% end %>
</section>
