<div id="card_scale" class="row">
  <div class="col-sm-6 col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Quality Scale</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>R</strong>equires Additional Support</li>
        <li class="list-group-item"><strong>W</strong>orks Within Grade-Level Standards</li>
        <li class="list-group-item"><strong>D</strong>emonstrates Strengths</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6 col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">Effort</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong>O</strong>ustanding</li>
        <li class="list-group-item"><strong>S</strong>atisfactory</li>
        <li class="list-group-item"><strong>N</strong>eeds Improvement</li>
        <li class="list-group-item"><strong>U</strong>nsatisfactory</li>
        <li class="list-group-item"><strong>+</strong> Area of Strength</li>
        <li class="list-group-item"><strong>&#10003;</strong> Area of Concern</li>
      </ul>
    </div>
  </div>
</div>
