<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">Scale</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><b>R</b>equires Additional Support</li>
    <li class="list-group-item"><strong>W</strong>orks Within Grade-Level Standards</li>
    <li class="list-group-item"><strong>D</strong>emonstrates Strengths</li>
    <li class="list-group-item"><strong>E</strong>ffort</li>
  </ul>
</div>