<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">Scale</h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item"><strong>A</strong> Oustanding</li>
    <li class="list-group-item"><strong>B</strong> Good</li>
    <li class="list-group-item"><strong>C</strong> Satisfactory</li>
    <li class="list-group-item"><strong>N</strong> Needs Improvement</li>
    <li class="list-group-item"><strong>+</strong> Area of Strength</li>
    <li class="list-group-item"><strong>&#10003;</strong> Area of Concern</li>
  </ul>
</div>
