<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Form:</strong>
  <%= @subject.form.name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @subject.major %>
</p>