<p><%= link_to 'New Role', new_admin_role_path, class: 'btn btn-primary' %></p>

<table class="table table-striped">
  <% @roles.each do |role| %>
  <tr>
    <td><%= link_to role.name, edit_admin_role_path(role) %></td>
  </tr>
  <% end %>
</table>
