<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to @classroom.name, @classroom %></li>
  <li>Memberships</li>
</ol>

<div class="page-header">
  <h2><%= @classroom.name %></h2>
</div>
