<table class="table table-striped">
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, [:admin, user] %></td>
    <td><%= user.employee.primary_site.try(:name) %></td>
  </tr>
  <% end %>
</table>
